body{
    background-color: #fafbfc;
}
header{
    height: 66px;
    width: 100%;
    background-color: #fff;
    padding:0 5px;
    border-bottom: 1px solid #d4dde7;
}
header:after,#text:after{
    display: block;
    content: '';
    clear: both;
}
header span{
    float: left;
    font-size: 18px;
    cursor: pointer;
    color: #428dff;
}
header .left_list{
    display: inline-block;
    float: right;
    width: 200px;
    line-height: 66px;
}
.j_left{
    margin-left: 20%;
}
.left_list button{
    display: inline-block;
    height: 30px;
    width: 80px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}
.header_login,#create{
    background-color: #97aec7;
    color: #fff;
    border-radius: 5px;
}
#header_login,#center{
    display: none;
}
.header_active{
    border-bottom: 1px solid #0077ff;
}
header span{
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 66px;
}
.header_left{
    position: absolute;
    height:500px;
    width: 200px;
    right: 2px;
    top: 50px;
    border: 1px solid #000000;
}
.article_login{
    display: block;
    height: 600px;
    width: 400px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -200px;
    margin-top: -300px;
    padding: 10px;
    color: #4194f8;
    background-color: #d2d5dd;
    border-radius: 5px;
    /*display: none;*/
}
#article_login{
    display: none;
}
.sy{
    display: none;
    height: 150px;
    width: 450px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -225px;
    margin-top: -75px;
    padding:30px  10px 10px 10px;
    color: #6a2d1b;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}
.sy p{
    line-height: 30px;
}
.sy button{
    height: 30px;
    width: 100px;
    border: 0;
    margin-top: 20px;
    border-radius: 5px;
}
.create{
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
.article_login form {
    font-size: 14px;
}
.name ,.pwd{
    display: inline-block;
    width: 80%;
    height: 25px;
    background:none;
    border: 0;
    border-bottom: 1px solid #acb4c3;
}
form input{
    margin:0 0 10px 0;
}
.submit{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    margin: auto;
    font-size: 20px;
    border: 0;
    margin-top: 40px;
}
.article_login form .l_warn ,.mo_warn,.pw_warn,.mopwd_warn,.com_warn,.go_warn,.num_warn{
    font-size: 12px;
    color: red;
    display: none;
}
.repeat{
    width: 50px;
    border-radius: 5px;
}
.create img{
    display: block;
    height: 53px;
    width: 53px;
    margin:20px auto;
}
.cre_pwd{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
}
.warn_list{
    margin-top: 20px;
}
.warn_list li{
    list-style: square;
    margin-left: 20px;
    line-height: 25px;
}

.welcome{
    width: 50%;
    text-align: center;
}
.welcome img{
    display: block;
    height: 80px;
    margin: 30px auto;
}
.wel_detail{
    font-size: 14px;
    color: #5e6062;
    margin: 40px;
}
.wel_creat{
    margin-top: 40px;
}
.wel_creat button{
    width: 90px;
    height: 35px;
    border-radius: 5px;
    border:1px solid #117eff;
}
.wel_active{
    background-color: #d2d5dd;
}
.t_logo{
    font-size: 20px;
    text-align: center;
}
.t_logo img{
    display: block;
    height: 53px;
    width: 53px;
    margin: 20px auto;
}

.tran_money button{
    height: 30px;
    width: 80px;
    border: 0;
    border-radius: 5px;
}
.new_color{
    background-color: rgba(255,255,255,0.8);
}
.remark{
    height: 30px;
    width: 106px;
    border: 1px solid #c2c8d1;
    border-radius: 5px;
    margin: 10px 0;
}
.tran_money{
    text-align: center;
    margin-top: 30px;
}
.tran_form{
    margin-top: 20px;
}

.wel_login{
    text-align: center;
}

.adress,.cret_pwd{
    margin: 10px 0;
}
.tran_money input{
    height: 30px;
    border-radius: 5px;
    width: 100px;
}














