
.accountQuery{
	width:60%;
	height:auto;
	margin: auto;
	padding-top:30px ;
	overflow: hidden;
}
.accountQuery h4{
	color: #428dff;
	font-size:20px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 20px;
}
.search #search{
	width: 70%;
	height: 40px;
	line-height: 40px;
	padding: 0px 4px 0px 30px;
	font-size:14px;
	border:1px solid #0077ff;
	border-radius: 5px;
	float: left;
}
.main{
	font-size: 14px;
}
.main table{
	width: 100%;
	height: auto;
	overflow: hidden;
	border: none;
	text-align: center;
	font-size: 14px;
}
.main table tr{
	height: 60px;
	line-height: 60px;
}
#tablHtml tr{
	color: #45425e;
}
.tbody tr:nth-of-type(odd){
	background: none;
}
#tablHtml tr:nth-of-type(even),#myac_table .account_tab{
	border: 1px solid #d4dde7;
	border-radius: 2px;
	background-color: #fff;
}
.tbody tr td:nth-child(2){
	color: #428dff;
}
#myac_table tbody .account_tab   td {
	border: 1px solid #d4d8da;
	border-right: 0;
	border-left: 0;
	padding: 5px;
}

/*
count_detail
*/
.main p{
	font-size: 18px;
	color: #428dff;
}
.main p>i{
	font-size: 12px;
	color: #f24d66;
}
#myac_table tbody{
	color: #d7d6d6;
}
#myac_table .account_tab{
	color: #505050;
}
#search{
	float: left;
}
#creat_asset,#my_asset{
	border-radius: 5px;
	width: 80px;
	line-height: 40px;
	float: left;
	margin: 0 10px;
}
.creat_account,.myaccount{
	display: none;
}
#myac_table tbody .account_tab  td:nth-last-of-type(1){
	border-right: 1px solid #d4d8da;
}
#myac_table tbody .account_tab  td:nth-of-type(1){
	border-left: 1px solid #d4d8da;
}
#myac_table .account_tab{
	line-height: 10px;
}
.creat_account input{
	border-radius: 5px ;
	border: 1px solid #d4dde7;
	width: 70%;
	height: 40px;
	margin: 10px 0;
}
.creat_account .account_num{
	width: 100%;
}
.account_inline{
	color: #5ea0fe;
}
.account_inline:after{
	display: block;
	content: '';
	clear: both;
}
.account_inline div{
	float: left;
	width: 45%;
}
.account_inline div:nth-of-type(1){
	margin-right: 50px;
}
.creat_account .create_account{
	display: block;
	width: 530px;
	text-align: center;
	margin: auto;
	margin-top: 40px;
}

.end_time,.start_time{
	display: inline-block;
	font-size: 14px;
	margin:20px 0 20px 0 ;
}
.start_time {
	margin-right: 40%;
}





