
.accountQuery{
	width:100%;
	height:auto;
	margin: auto;
	padding:30px 60px 0 60px;
	overflow: hidden;
}
.accountQuery h4{
	color: #428dff;
	font-size:20px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 20px;
}
.search #search{
	width: 70%;
	height: 40px;
	line-height: 40px;
	padding: 0px 4px 0px 30px;
	font-size:14px;
	border:1px solid #0077ff;
	border-radius: 5px;
	float: left;
}
.main{
	font-size: 14px;
}
.main table{
	width: 80%;
	height: auto;
	overflow: hidden;
	border: none;
	text-align: center;
	font-size: 14px;
    margin: auto;
}
#text .main{
    margin-top: 40px;
}
.main table tr{
	height: 50px;
	line-height: 50px;
    color: #428dff;
}
#tablHtml tr{
	color: #45425e;
}
.tbody tr:nth-of-type(odd){
	background: none;
}
.tbody tr td:nth-child(2){
	color: #428dff;
}
#tablHtml tr td:nth-child(2) span{
	display: block;
	width: 30%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: auto;
	line-height: 50px;
}

#myac_table tbody .account_tab   td {
	border: 1px solid #d4d8da;
	border-right: 0;
	border-left: 0;
	padding: 5px;
}
.main p{
	font-size: 18px;
	color: #428dff;
}
.main p>i{
	font-size: 12px;
	color: #f24d66;
}
#myac_table tbody{
	color: #505050;
	/*color: #d7d6d6;*/
}

#search{
	float: left;
}
#creat_asset,#my_asset{
	border-radius: 5px;
	width: 80px;
	line-height: 40px;
	float: left;
	margin: 0 10px;
}
#creat_asset{
	float: right;
	width: 100px;
	margin-top: -50px;
}
.myaccount,.account_list{
	display: none;
}
#myac_table tbody .account_tab  td:nth-last-of-type(1){
	border-right: 1px solid #d4d8da;
}
#myac_table tbody .account_tab  td:nth-of-type(1){
	border-left: 1px solid #d4d8da;
}

#myac_table .account_tab{
	line-height: 10px;
}
.time_end{

}
.add_account {
	border: 1px solid #428dff;
	color: #428dff;
	border-radius: 5px;
	height: 30px;
	width: 50px;
}
.creat_account input{
	border-radius: 5px ;
	border: 1px solid #d4dde7;
	width: 70%;
	height: 40px;
	margin: 10px 0;
}
.creat_account .account_num{
	width: 100%;
}
.account_inline{
	color: #5ea0fe;
}
.account_inline:after{
	display: block;
	content: '';
	clear: both;
}
.account_inline div{
	float: left;
	width: 45%;
}
.account_inline div:nth-of-type(1){
	margin-right: 50px;
}
.creat_account .create_account{
	display: block;
	width: 530px;
	text-align: center;
	margin: auto;
	margin-top: 40px;
}

.end_time,.start_time{
	display: inline-block;
	font-size: 14px;
	margin:20px 0 20px 0 ;
}
.start_time {
	margin-right: 40%;
}
.creat_account .all_count{
	width: 100px;
	float: right;
}
.time_end{
	color: #ccc;
	border: 1px solid #ccc;
}

.tbody tr .stop{
	background: url("../img/stop.png") no-repeat 50%;

	color: #ccc;
}

#coun_pwd{
	font-size: 14px;
	display: none;
}
#coun_pwd p{
	color: #333;
	margin-left: 10px;
	line-height: 30px;
}
#coun_pwd p span{
	display: inline-block;
	width:40%;
}
#coun_pwd p span:nth-of-type(2){
	margin-left: 50px;
}
.sele_ctcount{
	width: 100%;
}
.select select{
	width: 80%;
	margin: 10px;
}
.count_pwd{
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 10px 0 0 10px;
}
/**/
.tbody tr  td {
	border: 1px solid transparent;
	padding: 5px;
}
.tbody .b_acitve  td {
	border: 1px solid #d4d8da;
	border-right: 0;
	border-left: 0;
	padding: 5px;
	background-color: #fff;
}
.tbody .b_acitve td:nth-last-of-type(1){
	border-right: 1px solid #d4d8da;
}
.tbody .b_acitve td:nth-of-type(1){
	border-left: 1px solid #d4d8da;
}
.main thead{
	font-size: 16px;
}