@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 625%;
  width: 100%;
}
body {
  font-family: Arial, "Microsoft YaHei", "微软雅黑";
  width: 100%;
  font-size: 30px;
  min-width: 1200px;
}
a {
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #000;
}
img {
  border: none;
}
i {
  font-style: normal;
}
b {
  font-weight: normal;
}
li{
  list-style: none;
}

/**/
td:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

td:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/**/
.liner_granet{
  color: #fff;
  background-image: -moz-linear-gradient(top, #80afff, #2185ff); /* Firefox */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #80afff), color-stop(1, #2185ff)); /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80afff', endColorstr='#2185ff'); /* IE*/
}
.table{
  border-collapse:separate;
  border-spacing:0px 20px;
}
.table tbody tr  td {
  border: 0;
  padding: 5px;
}
