body{
    background-color: #fafbfc;
}
header{
    height: 66px;
    width: 100%;
    background-color: #fff;
    padding:0 5px;
    border-bottom: 1px solid #d4dde7;
}
header:after,#text:after{
    display: block;
    content: '';
    clear: both;
}
header span{
    float: left;
    font-size: 18px;
    cursor: pointer;
    color: #428dff;
}
header .left_list{
    display: inline-block;
    float: right;
    width: 200px;
    line-height: 66px;
}
.j_left{
    margin-left: 20%;
}
.left_list button{
    display: inline-block;
    height: 30px;
    width: auto;
    padding: 0 5px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}
.header_login,#create{
    background-color: #97aec7;
    color: #fff;
    border-radius: 5px;
}
#header_login,#center{
    display: none;
}
.header_active{
    border-bottom: 1px solid #0077ff;
}
header span{
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 66px;
}
.header_left{
    position: absolute;
    height:500px;
    width: 200px;
    right: 2px;
    top: 50px;
    border: 1px solid #000000;
}
.article_login {
    display: block;
    /*text-align: center;*/
    height: auto;
    width: 400px;
    position:absolute;
    left:50%;
    top:65%;
    margin-left: -200px;
    margin-top: -300px;
    padding: 10px 10px 50px 10px;
    color: #4194f8;
    background-color: #d2d5dd;
    border-radius: 5px;
    /*display: none;*/
}
#wel_login{
    text-align: center;
}
#article_login{
    display: none;
}
.sy{
    display: none;
    height: 150px;
    width: 450px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -225px;
    margin-top: -75px;
    padding:30px  10px 10px 10px;
    color: #6a2d1b;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}
.sy p{
    line-height: 30px;
}
.sy button{
    height: 30px;
    width: 100px;
    border: 0;
    margin-top: 20px;
    border-radius: 5px;
}
.create{
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
.article_login form {
    font-size: 14px;
}
.name ,.pwd{
    display: inline-block;
    width: 80%;
    height: 25px;
    background:none;
    border: 0;
    border-bottom: 1px solid #acb4c3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    outline:none;
}
#repawd{
    margin-left: 0;
}
form input{
    margin:0 0 10px 0;
}
.submit{
    display: block;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    margin: auto;
    font-size: 16px;
    border: 0;
    margin-top: 40px;

}
.article_login form .l_warn ,.mo_warn,.pw_warn,.mopwd_warn,.com_warn,.go_warn,.num_warn{
    font-size: 12px;
    color: red;
    display: none;
}
.repeat{
    width: 50px;
    border-radius: 5px;
    vertical-align: middle;
}
.create img{
    display: block;
    height: 53px;
    width: 53px;
    margin:20px auto;
}
.cre_pwd{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
}
.warn_list{
    margin-top: 20px;
}
.warn_list li{
    margin-left: 10px;
    line-height: 25px;
}

.welcome{
    width: 50%;
    text-align: center;
}
.welcome img{
    display: block;
    height: 80px;
    margin: 30px auto;
}
.wel_detail{
    font-size: 14px;
    color: #5e6062;
    margin: 40px;
}
.wel_creat{
    margin-top: 40px;
}
.wel_creat button{
    width: 90px;
    height: 35px;
    border-radius: 5px;
    border:1px solid #117eff;
    color: #117eff;
    background-color: #fff;
}
.wel_creat .liner_granet{
    color: #fff;
}
.wel_active{
    background-color: #d2d5dd;
}
.t_logo{
    font-size: 20px;
    text-align: center;
}
.t_logo p:nth-child(3){
    font-size: 14px;
    margin-top: 16px;
}

.t_logo img{
    display: block;
    height: 53px;
    width: 53px;
    margin: 20px auto;
}

.tran_money button{
    height: 30px;
    width: 80px;
    border: 0;
    border-radius: 5px;
}
.new_color{
    background-color: rgba(255,255,255,0.8);
}
.remark{
    height: 30px;
    width: 106px;
    border: 1px solid #c2c8d1;
    border-radius: 5px;
    margin: 10px 0;
}
.tran_money{
    text-align: center;
    margin-top: 30px;
}
.tran_form{
    margin-top: 20px;
}



.adress,.cret_pwd{
    margin: 10px 10px 0;
}
.tran_money input{
    height: 30px;
    border-radius: 5px;
    width: 100px;
}

.motal{
    font-size: 14px;
    display: block;
    /*text-align: center;*/
    height: 200px;
    width: 400px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -200px;
    margin-top: -100px;
    padding: 40px 30px 30px 30px;
    color: #4194f8;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    display: none;
    z-index: 999;
}
.mona_warn{
    font-size: 12px;
    color: #d5453e;
}
.motal-mask{
    width: 100%;
    height:100%;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(51,51,51,0.4);
    z-index: 998;
    display: none;
}
.motal .no{
    height: 30px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #117eff;
    color: #117eff;
}
.motal .add{
    height: 30px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
}
#repawd{
    width: 100%;
}

.motal .add {
    margin-left: 70px;
}

.mona_warn{
    display: none;
}
#wel_select{
    margin-top: 60px;
}


.disable_btn{
    background-image: -moz-linear-gradient(top, #97aec7, #97aec7); /* Firefox */
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #97aec7), color-stop(1, #97aec7))
}

.new_top{
    top:55%;
}

#transform_box .tran_form .name,#transform_box .tran_form .pwd{
    width: 340px;
    height: 26px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 14px 1px
    rgba(126, 153, 185, 0.13);
    border-radius: 5px;
    border: solid 1px rgb(126, 153, 185);
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#transform_box .tran_form p{
    margin-left: 20px;
}

#num{
    width: 218px;
    height: 26px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 14px 1px
    rgba(126, 153, 185, 0.13);
    border-radius: 5px;
    border: solid 1px rgb(126, 153, 185);
    margin-left: 20px;
}
#coinSelect{
    width: 218px;
    height: 26px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;

}
#coinSelect_box{
    display: none;
}

.login_html{
    border:none;
}