.block-info{
    width: 100%;
    margin-top: 20px;
    background-color: #f7f7f7 !important;

}

.block-info .mess-left,.block-info .mess-right{
    width: 620px;
    float: left;
}
.block-info .mess-right{
    margin-left: 20px;
}


.mess-left .l-top{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(171, 171, 171, 0.17);
    background-color:#2c2c2c
}
.mess-right .r-top{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 0px rgba(171, 171, 171, 0.17);
}

.mess-left .l-bottom{
    width: 100%;
    height: 575px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(171, 171, 171, 0.17);
    background-color: #ffffff;
    margin-top: 20px;
}
.mess-right .r-bottom{
    width: 100%;
    height: 794px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(171, 171, 171, 0.17);
    background-color: #ffffff;
}
.now-block-info{
    height: 90px;
    border-bottom: 1px solid #474747;
    overflow: hidden;
    color: #ffffff;
}
.now-block-info i{
    width: 45px;
    height:45px;
    margin-left: 42px;
    margin-top: 26px;
    display: block;
    background: url("../img/block_icon.png") no-repeat;
    float: left;
}
.now-block-name{
    margin-left: 30px;
    font-size: 22px;
    float: left;
    line-height: 90px;
}

.now-block-box{
    float: left;
    margin-left: 36px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 34px;
}
.block-id,.representatives,.last-block{
    font-size: 28px;
    float: left;
    color: #ffffff;
    margin-top: 32px;
}
.block-id{
    margin-left: 30px;
}
.last-block,.representatives{
    margin-left: 50px;
}

.block-line{
    width: 2px;
    height:48px;
    display: block;
    background: url("../img/block_line.png") no-repeat;
    float: left;
}
.block-line-info{
    margin-left: 8px;
    float: left;
}
.block-line-info div{
    margin-top: -10px;
}
.block-line-info p{
    font-size: 14px;
    color: #a1a1a1;
}
.b-title,.rb-title{
    width: 100%;
    height: 86px;
    border-bottom: 1px solid #ededed;
}

.b-title i{
    width:45px;
    height:45px;
    background: url("../img/transactions_title.png") no-repeat;
    margin-top: 24px;
    margin-left: 40px;
    float: left;
}
.rb-title i{
    width:45px;
    height:45px;
    background: url("../img/blocks-icon2.png") no-repeat;
    margin-top: 24px;
    margin-left: 40px;
    float: left;
}
.b-title p,.rb-title p{
    font-size: 22px;
    color: #000000;
    line-height: 86px;
    margin-left: 22px;
    float: left;
}
.l-bottom ul li{
    width: 100%;
    border-bottom: 1px solid #ededed;
    line-height: 66px;
    height: 67px;
    font-size: 16px;
    color: #000000;
}
.l-bottom ul li:nth-child(odd) .trans-line{
    width: 2px;
    height:67px;
    background-color: #ff0000;
}
.l-bottom ul li:nth-child(even) .trans-line{
    width: 2px;
    height:67px;
    background-color: #1777d9;
}
.l-bottom ul li:nth-last-child(1){
    border-bottom: none;
}
.l-bottom ul li i{
    width: 100%;
    border-bottom: 1px solid #ededed;
    line-height: 68px;
    height: 67px;
}
.l-bottom ul li i{
    display: block;
    width: 14px;
    height:14px;
    background: url("../img/block_send.png") no-repeat;
    margin-top: 30px;
    margin-left: 38px;
}
.type{
    margin-left: 10px;
}

.red{
  color: #ff0000;
}
.trans-info{
    margin-left: 80px;
}
.trans-info span{
    margin-left: 14px;
}

.r-bottom ul li{
    width: 100%;
    height: 106px;
    border-bottom: 1px solid #ededed;

}
.r-bottom ul li:nth-last-child(1){
    border-bottom:none
}
.r-bottom ul li .block-box{
    width: 160px;
    height:70px;
    background-color: #434343;
    color: #ffffff;
    float: left;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
}

.block-box p:nth-child(1){
    font-size: 16px;
}

.block-box p{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}
.block-box-info{
    margin-left: 32px;
}
.block-box-info p:nth-child(1){
    margin-top: 24px;
    color: #9d9898;
    font-size: 14px;
}
.block-box-info p:nth-child(2){
    margin-top: 16px;
    color: #a90000;
    font-size: 16px;
    font-weight: bold;
}

#change1d{
    font-size: 12px;
}

.block-box-info p:nth-child(2) span:nth-child(2) {
    margin-left: 32px;
}