.transform-box{
    width: 100%;
    height: 100%;
    min-height: 737px;
    position: relative;
}

.transform-coin{
    width: 440px;
    height: 620px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 0px rgba(67, 66, 66, 0.21);
    border-radius: 10px;
    position: absolute;
    top:30px;
    left: 50%;
    margin-left: -220px;
}

.transform-coin img{
    width: 112px;
    height: 86px;
    display: block;
    margin: 56px auto 0;
}

.transfer{
    text-align: center;
    margin-top: 40px;
    color: #2c2c2c;
    font-size: 26px;
}
.forSending{
    text-align: center;
    margin-top: 14px;
    color: #443e3e;
    font-size: 16px;
}
.form-box{
    margin-top:30px;
}
.form-box>div{
    width: 94%;
    margin: 0 auto;
}

.com_adress,.topwd{
    width: 400px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: solid 1px rgba(49, 49, 49, 0.3);
    margin-top: 14px;
    padding-left: 15px;
}

.coin-select{
    width: 150px;
}
.coin-sendAmount{
    width: 190px;
    margin-left: 55px;
}
.coin-select select{
    width: 140px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px rgba(49, 49, 49, 0.3);
    border-radius: 5px;
    margin-top: 14px;

}

.coin-sendAmount input{
    width: 195px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: solid 1px rgba(49, 49, 49, 0.3);
    margin-top: 14px;
    padding-left: 15px;
}

.trans-change{
    width: 160px;
    margin: 32px auto 0;
}
.trans-change input{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(0deg, #ea0000 0%, #c6352c 100%), linear-gradient(#a61c1c, #a61c1c);
    border-radius: 5px;
    cursor: pointer;
}