.w_form{
    width: 20%;
    float: left;
    font-size: 14px;
    color: #428dff;
    padding: 20px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #d4dde7;
}
.w_form  p {
    line-height: 40px;
}
.w_form  .cheek input{
    width: 60%;
    margin-left: 10px;
    border: 0;
    border-bottom: 1px solid #d4dde7;
}
.w_table{
    width: 80%;
    float: right;
    font-size: 14px;
    background-color: #fafbfc;
    margin-top: 60px;
}
.w_table tbody tr{
    border-bottom: 1px solid #d4dde7;
}
#text{
    height: calc(100% - 66px);
}
.w_table table{
    width: 80%;
    border: 0;
    text-align: center;
    margin: auto;
}
.w_table table thead{
    line-height: 40px;
    font-size: 12px;
    font-weight: 500;
    color: #428dff;
}

.w_table table tbody tr{
    line-height: 40px;
}
/**/
.vote table{
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-collapse:separate;
    border-spacing:0px 20px;
    margin: auto;
    color: #64768a;
    padding: 0 20px;
    border-radius: 5px;
}
.vote table thead{
    color: #449bff;
}
.vote table tbody .voted{
    line-height: 50px;
    background-color: #fff;
    margin: 30px 0;
    width: 70%;
    border-left: 1px solid #ccc ;
    box-shadow: 3px 3px 15px #ecf0f5;
}
.vote table .voted td {
    border: 1px solid #d4d8da;
    border-right: 0;
    border-left: 0;
    padding: 5px;
}
.vote table .voted td:nth-last-of-type(1){
    border-right: 1px solid #d4d8da;
}
.vote table .voted td:nth-of-type(1){
    border-left: 1px solid #d4d8da;
}
/**/

.w_form  i{
    display: block;
    height: 1px;
    color: #cccccc;
    background-color: #d4dde7;
    margin:5px 0 10px 0 ;
}
/**/
.t_list{
    height: 210px;
    width: 30%;
    border-left: 2px solid #0077ff;
    background-color: #fff;
    float: left;
    margin: 0 18px;
    -moz-box-shadow: 3px 3px 10px #d4dde7; /* 老的 Firefox */
    box-shadow: 3px 3px 15px #d4dde7;
}
.t_list p{
    margin: 0 10px;
    color: #64768a;
    line-height: 25px;
    padding: 0 5px;
}
.t_list p:nth-of-type(3){
    background-color: #7e99b9;
    color: #fff;
}
.ticket_detail{
    float: right;
}
.num{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #0077ff;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    color: #fff;
}
.w_table tbody .b_acitve{
    border: 1px solid #0077ff;
    border-radius: 5px;
    background-color: #fff;
}
.deletion{
    color: #97aec7;
}
.ka{
    float: right;
    width: 96px;
    height: 38px;
    background-color: #97aec7;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}
.t_list .t_title{
    text-align: center;
    background-color: #428dff;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0 10px;
}
.t_list .t_peo{
    height: 66px;
    width: 66px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
/**/
.table tbody tr  td {
    border: 0;
    padding: 5px;
}
.table tbody .b_acitve  td {
    border: 1px solid #d4d8da;
    border-right: 0;
    border-left: 0;
    padding: 5px;
}
.table tbody .b_acitve td:nth-last-of-type(1){
    border-right: 1px solid #d4d8da;
}
.table tbody .b_acitve td:nth-of-type(1){
    border-left: 1px solid #d4d8da;
}