.witness{
    width:100%;
    overflow: hidden;
}
.main{
    background: #f7f7f7;
}
.main table{
    min-width: 860px;
    height: auto;
    overflow: hidden;
    border: none;
    font-size: 14px;
    margin:0 auto;
}
.main thead tr{
    height: 86px;
    line-height: 86px;
    color: #7f7a7a;
    font-size: 20px;
}
.tbody tr td span.num{
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    background-color: #e30a09;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
}
.tbody tr td{
    padding-left: 40px;
    text-align: center;
}
.main thead tr th{
    text-align: center;
    padding-left: 20px;
}
.main tbody tr{
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #7f7a7a;
    text-align: left;
    border: 1px solid transparent;
    background-color: #fff;
}
.tbody tr:nth-child(odd){
    background: #eeeeee;
}
.tbody tr:nth-child(even){
    background: #f7f7f7;
}
#witnessDate tr td:nth-child(2) span{
    display: block;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    line-height: 50px;
}

#myac_table tbody .account_tab   td {
    border: 1px solid #d4d8da;
    border-right: 0;
    border-left: 0;
    padding: 5px;
    text-align: left;
    color: #2c2c2c;
}
.main p{
    font-size: 18px;
    color: #428dff;
}
.main p>i{
    font-size: 12px;
    color: #f24d66;
}
#myac_table tbody{
    color: #505050;
    /*color: #d7d6d6;*/
}

#search{
    float: left;
}
#creat_asset,#my_asset{
    border-radius: 5px;
    width: 80px;
    line-height: 40px;
    float: left;
    margin: 0 10px;
}
#creat_asset{
    float: right;
    width: 100px;
    margin-top: -50px;
}
.myaccount,.account_list{
    display: none;
}
#myac_table tbody .account_tab  td:nth-last-of-type(1){
    border-right: 1px solid #d4d8da;
}
#myac_table tbody .account_tab  td:nth-of-type(1){
    border-left: 1px solid #d4d8da;
}

#myac_table .account_tab{
    line-height: 10px;
}
.time_end{

}
.creat_account input{
    border-radius: 5px ;
    border: 1px solid #d4dde7;
    width: 70%;
    height: 40px;
    margin: 10px 0;
}
.creat_account .account_num{
    width: 100%;
}
.account_inline{
    color: #5ea0fe;
}
.account_inline:after{
    display: block;
    content: '';
    clear: both;
}
.account_inline div{
    float: left;
    width: 45%;
}
.account_inline div:nth-of-type(1){
    margin-right: 50px;
}
.creat_account .create_account{
    display: block;
    width: 530px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
.creat_account .all_count{
    width: 100px;
    float: right;
}
.time_end{
    color: #ccc;
    border: 1px solid #ccc;
}

.tbody tr .stop{
    background: url("../img/stop.png") no-repeat 50%;

    color: #ccc;
}

#coun_pwd{
    font-size: 14px;
    display: none;
}
#coun_pwd p{
    color: #333;
    margin-left: 10px;
    line-height: 30px;
}
#coun_pwd p span{
    display: inline-block;
    width:40%;
}
#coun_pwd p span:nth-of-type(2){
    margin-left: 50px;
}
.sele_ctcount{
    width: 100%;
}
.select select{
    width: 80%;
    margin: 10px;
}
.count_pwd{
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 10px 0 0 10px;
}
/**/
.tbody .b_acitve  td {
    border: 1px solid #d4d8da;
    border-right: 0;
    border-left: 0;
    background-color: #fff;
}
.main thead{
    font-size: 16px;
}
