<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>tron block chain explorer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <script src="/static/js/api/api.js"></script>
</head>

<body>
<script type="text/javascript">
  $(function () {
    $("#CreateWitness").on('click', function () {
      CreateWitness();
    });

  });

</script>

<div align="center">
  <h1>Create Witness</h1>
  <form>
    <p>
      password: <input id="password" type="text"/>
      url: <input id="url" type="text"/>
    </p>
    <p>
      <input id="CreateWitness" type="button" value="CreateWitness"/>
      <input type="reset" value="Reset"/>
    </p>
  </form>
</div>

</body>
</html>