<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/protolib/protobuf.js"></script>
    <script src="../static/trondatajs/bundle.js"></script>
    <script src="../static/utils/code.js"></script>


</head>

<body>

<h3 id="111"></h3>

<html>
<head>
</head>

<body>

<span style="white-space:pre">   </span>
<script type="text/javascript">


   var account= new proto.protocol.Account();

    account.setAccountName("wangww");

   //  var accountName = account.getAccountName();
   //
   //
   // console.log("name : "+accountName);
   //
   // console.log("account : "+account);

    var data="GhQhg5zl0xQFrW6ztpa6RpcxULcvHiD//////////38=";
    var bytes = stringToBytes(data);
    var bytsDecode = base64Decode(bytes);

    var t = proto.protocol.Account.deserializeBinary(bytsDecode);

    console.log("name "+t.getAccountName());
   console.log("address "+t.getAddress());
   var address = t.getAddress();
   var addressString = byteArray2hexStr(address);
   console.log("addressString "+addressString);
    //

    // var s = new proto.protocol.Account();
    // $("#111").append(data + "<br/>----------------<br />");
    // s.ParseFromStream(new PROTO.Base64Stream(data));
    // //var t = s.ParseFromStream(new PROTO.Base64Stream(data));
    // $("#111").append(s + "<br />------------------<br />");
    //
    // for(var i=0;i<s.list.length;i++){
    //     var l = s.list[i];
    //     $("#111").append(l + "------------------<br />");
    // }


</script>
</body>
</html>


