<html>

<head>
  <title>E-Sign Demo with Elliptic</title>
  <script src="../static/cryptohash/lib/elliptic.min.js"></script>
  <script src="../static/cryptohash/lib/sha3-256.js"></script>
  <script src="../static/cryptohash/crypto.js"></script>
  <script src="../static/utils/code.js"></script>
  <script src="../static/cryptohash/lib/sha.js"></script>
</head>
<script>

  function testComputeAddress() {
    var pubKeyHex = "04a5bb3b28466f578e6e93fbfd5f75cee1ae86033aa4bbea690e3312c087181eb366f9a1d1d6a437a9bf9fc65ec853b9fd60fa322be3997c47144eb20da658b3d1";
    var pubKeyBytes = hexStr2byteArray(pubKeyHex);

    var address = computeAddress(pubKeyBytes);
    console.log(address);
  }

  function testECKeySign() {
    var msg = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15];
    var hashByts = SHA256(msg);
    var priKeyHex = "8e812436a0e3323166e1f0e8ba79e19e217b2c4a53c970d4cca0cfb1078979df";
    var priKeyBytes = hexStr2byteArray(priKeyHex);
    var signBytes = ECKeySign(hashByts, priKeyBytes);
    console.log("signBytes:::" + byteArray2hexStr(signBytes));
  }

  function testSha256() {
    var msg = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15];
    var hashByts = SHA256(msg);
    console.log("hashByts:::" + byteArray2hexStr(hashByts));
  }

  function doTest() {
    testSha256();
  testComputeAddress();
   testECKeySign();
    /*
      var EC = elliptic.ec;

      // Create and initialize EC context
      // (better do it once and reuse it)
      var ec = new EC('secp256k1');

      // Generate keys
      var key = ec.genKeyPair();
      key.getPrivate();

      var pubKey = key.getPublic();
      var pubkeyb = pubKey.toLocaleString();

    console.log("pubkeyb:::" + pubkeyb);

      console.log("key = " + JSON.stringify(key));

      // Sign the message's hash (input must be an array, or a hex-string)
      var msgHash = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
      var signature = key.sign(msgHash);

      // Export DER encoded signature in Array
      var derSign = signature.toDER();

      // Verify signature
    // Verify signature
    var result = key.verify(msgHash, derSign);
    console.log(result);
    alert(result);
*/

  }
</script>

<body>
<h1>This a Elliptic Demo page</h1>
<input name="signkey"/>
<button onclick="doTest()">Go</button>
<div id="content"></div>
</body>

</html>