<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <script src="/static/js/api/api.js"></script>
  <title></title>
  <script type="text/javascript">
    function TestAddress() {

      var priKeyBytes = genPriKey();
      var priKeyHex = byteArray2hexStr(priKeyBytes);
      var pubKeyBytes = getPubKeyFromPriKey(priKeyBytes);
      var pubKeyHex = byteArray2hexStr(pubKeyBytes);
      var addressBytes = getAddressFromPriKey(priKeyBytes);
      var addressHex = byteArray2hexStr(addressBytes);

      $.ajax({
        type: 'post',
        //String priKeyHex, String priKeyHex, String addressHex
        data: {"priKeyHex": priKeyHex, "pubKeyHex": pubKeyHex, "addressHex": addressHex},
        dataType: 'json',
        url: "/testAddress",

        success: function (data) {
          if (true != data) {
            alert("Test Address faild!!!!");
          }
        }
      });
    }


  </script>

</head>

<body>
<script type="text/javascript">
    TestAddress();
    TestAddress();
    TestAddress();
    TestAddress();
    TestAddress();
    TestAddress();
    TestAddress();
    TestAddress();
    TestAddress();
    TestAddress();

</script>
</body>

</html>