<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title></title>
  <!--
             描述：JS代码需要编写到script标签中
         -->
  <script type="text/javascript">
    //控制浏览器弹出一个警告框
    alert("这是我的第一行JS代码");

    //可以向body中输出一个内容
   document.write("看我出不出来");

    //向控制台输出一个内容
   console.log("你猜我在哪里出来呢");

    function sha3Hash() {
      document.write("1\r\n");
      var SHA3 = require('sha3');
      document.write("2\r\n");
// Generate 512-bit digest.
      var d = new SHA3.SHA3Hash();
      document.write("3\r\n");
      d.update('foo');
      document.write("4\r\n");
      d.digest('hex');
      document.write("5\r\n");
    }
    var hash = sha3Hash();
    document.write("testHash::" + hash);
  </script>

</head>

<body>
</body>

</html>