<!DOCTYPE HTML>
<html>
<head>
  <title>tron block chain explorer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/cryptohash/lib/elliptic.min.js"></script>
  <script src="/static/cryptohash/lib/sha.js"></script>
  <script src="/static/cryptohash/lib/sha1.js"></script>
  <script src="/static/cryptohash/lib/sha3.js"></script>
  <script src="/static/cryptohash/lib/sha3-256.js"></script>
  <script src="/static/cryptohash/lib/sha256.js"></script>
  <script src="/static/cryptohash/lib/sha512.js"></script>
  <script src="/static/cryptohash/lib/sha_dev.js"></script>
  <script src="/static/protolib/protobuf.js"></script>
  <script src="/static/tronjslib/contract.js"></script>
  <script src="/static/tronjslib/tron.js"></script>
  <script src="/static/tronjslib/troninv.js"></script>
  <script src="/static/utils/code.js"></script>
  <script src="/static/cryptohash/crypto.js"></script>

</head>
<body>
<script type="text/javascript">
  $(function () {
    $("#CreateVoteWitness").on('click', function () {

      var password = $("#password").val();
      var priKeyBytes = base64DecodeFromString(password);
      var addr = getAddressFromPriKey(priKeyBytes);
      var address64Str = byteArray2hexStr(addr);

      var addressandacount = $("#witness1").val() + "," + $("#countStr1").val() + "," + $(
          "#witness1").val() + "," + $("#countStr1").val();
      $.ajax({
        type: 'post',
        data: {owner: address64Str, list: addressandacount},
        dataType: 'json',
        url: "/createVoteWitnessToView",

        success: function (data) {
          transaction = getTransActionFromBase64String(data);
          var transactionSigned = signTransaction(priKeyBytes, transaction);
          var transactionBytes = transactionSigned.serializeBinary();
          var transactionString = byteArray2hexStr(transactionBytes);

          $.ajax({
            type: 'post',
            dataType: 'json',
            data: {transactionData: transactionString},
            url: "/transactionFromView",
            async: false,
            success: function (result) {
              if (result == true) {
                alert("VoteWitness successful !!!");
              }
              else {
                alert("VoteWitness failure !!!");
              }

            }
          });
        }
      });
    });

  });

</script>

<div align="center">
  <h1>CreateVoteWitness</h1>
  <form>
    <p>

      password: <input id="password" type="text"/>


      Witness Address1: <input id="witness1" type="text"/>
      Witness countStr1: <input id="countStr1" type="text"/>


      Witness Address2: <input id="witness2" type="text"/>
      Witness countStr2: <input id="countStr2" type="text"/>

    </p>
    <p>
      <input id="CreateVoteWitness" type="button" value="CreateVoteWitness"/>
      <input type="reset" value="Reset"/>
    </p>
  </form>
</div>

</body>
</html>