<section class="accountQuery">
    <div class="main">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th data-i18n-text="rank">排名</th>
                    <th data-i18n-text="address">账户地址</th>
                    <!--<th data-i18n-text="account">账户名称</th>-->
                    <th data-i18n-text="balance">余额</th>
                </tr>
            </thead>
            <tbody id="tablHtml" class="tbody">

            </tbody>
        </table>
    </div>
</section>

<script src="/js/utils/accountQuery.js"></script>
<script src="/js/lib/language.js" type="text/javascript"></script>


