	<section class="accountQuery">
			<!--<h4>账户</h4>-->
			<!--<form action="" method="post" class="myform">-->
				<!--<div class="search">-->
					<!--<input type="text" value=""  placeholder="搜索账户" id="search" name="search">-->
				<!--</div>-->
			<!--</form>-->
		
			<div class="main">
				<table cellpadding="0" cellspacing="0" >
					<thead>
						<tr>
							<th>ID</th>
							<th>账户地址</th>
							<th>账户名称</th>
							<th>余额</th>
						</tr>
					</thead>
					<tbody id="tablHtml" class="tbody">

					</tbody>
				</table>
			</div>
		</section>

	<script src="/js/utils/accountQuery.js"></script>


