<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title></title>

    <link rel="stylesheet" href="../../static/css/common.css" type="text/css"  />
    <link rel="stylesheet" href="../../static/css/login.css"  type="text/css" />
    <link rel="stylesheet" href="../../static/css/witness.css" type="text/css" />
    <link rel="stylesheet" href="../../static/css/creat.css" type="text/css" />
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css" />
    <link rel="stylesheet"  href="../../static/css/accountQuery.css" type="text/css" />
    <link rel="stylesheet" href="../../static/css/control.css" type="text/css" />
    <link rel="stylesheet" href="../../static/css/message.css" type="text/css" />


</head>
<body>

<scetion>

</scetion>

<script src="../../static/js/lib/ajax.js"></script>
<script src="../../static/js/index.js"></script>
<script type="text/javascript">
    $('#text').load('html/message');
</script>

</body>
</html>