<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title></title>

    <link rel="stylesheet" href="../../static/css/common.css" type="text/css"  />
    <link rel="stylesheet" href="../../static/css/login.css"  type="text/css" />
    <link rel="stylesheet" href="../../static/css/witness.css" type="text/css" />
    <link rel="stylesheet" href="../../static/css/creat.css" type="text/css" />
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css" />
    <link rel="stylesheet"  href="../../static/css/accountQuery.css" type="text/css" />
    <link rel="stylesheet" href="../../static/css/control.css" type="text/css" />
    <link rel="stylesheet" href="../../static/css/message.css" type="text/css" />


</head>
<body>

<scetion id="addcount">
    <h4>参与资产发行</h4>
    <p><span>资产名称</span><span>90E1DB0D7DC07FD</span></p>
    <p><span>资产发行人</span><span>90E1DB0D7DCF4F5FD</span></p>
    <p><span>资产总供应量</span><span>90E1DBFD</span></p>
    <p><span>资产单价</span><span>90E1DB0DF278707FD</span></p>
    <p><span>起止时间</span><span>90E1DFF278707FD</span></p>
    <p><span>描述信息</span>
        <span>
            <select name="" id="">
                <option value="">3241</option>
            </select>
        </span></p>
    <p class="cou_hei"><span>参与数量</span><span><input type="text"> =10000TRX</span></p>
    <p class="cou_hei"><span>输入密码</span><span><input type="text"></span></p>
    <p class="check">
        <input type="checkbox">
        我已确认花费1000.000TRX参与资产发行，获得ABITS.CNY100.0000数量的资产
    </p>
    <input type="button" class="liner_granet sure_dele" value="确认交易">
</scetion>



</body>
</html>