
<script src="/js/utils/asset.js" type="text/javascript"></script>
<section class="accountQuery account_list">
    <h4 data-i18n-text="Tokens">资产列表</h4>
    <form action="" method="post" class="myform">
        <div class="search">
            <!--<input type="text" value=""  placeholder="搜索账户" id="search" name="search">-->
            <!--<input type="button" id="creat_asset" class="liner_granet" value="我发行的资产">-->
            <!--<input type="button" id="my_asset" class="liner_granet" value="我的资产">-->
        </div>
    </form>

    <div class="main">
        <table cellpadding="0" cellspacing="0" >
            <thead>
            <tr>
                <th data-i18n-text="TokenName">资产名称</th>
                <th data-i18n-text="issuer">发行人</th>
                <th data-i18n-text="totalSupply">总供应量</th>
                <th data-i18n-text="BeginningEndingTime">起止时间</th>
            </tr>
            </thead>
            <tbody id="assetIssueListTable" class="tbody">
            </tbody>
        </table>
    </div>
</section>

<section class="accountQuery myaccount">
    <h4>我的资产</h4>
    <div class="main table">
        <table cellpadding="0" cellspacing="0" id="myac_table">
            <thead>
            <tr >
                <th >资产名称</th>
                <th >资产供应总量</th>
                <th >资产单价</th>
                <th >描述</th>
                <th>起止时间</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="" class="tbody">
            <tr >
                <td>1</td>
                <td><span>资产供应总量</span></td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr class="account_tab">
                <td>1</td>
                <td><span>资产供应总量</span></td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>

            </tbody>
        </table>
    </div>
</section>

 <section class="creat_account accountQuery">
     <div class="main ">

         <input type="button" class="all_count liner_granet" data-i18n-value="allAssets" value="全部资产列表">
         <form id="createAssetForm" action="#">
         <p data-i18n-text="myPassword">我的密码</p>
         <input type="text" id="privateKey" name="privateKey"/>
         <p data-i18n-text="tokenName">资产名称</p>
         <input type="text" id="name" name="name"/>
         <p data-i18n-text="totalSupply">资产供应总量</p>
         <input type="text" id="totalSupply" name="totalSupply"/>
         <div class="account_inline">
             <div>
                 <span data-i18n-text="quoteTokenAmount">本资产数量</span><br/>
                 <input type="text" class="account_num" id="assetNum" name="num"/>
            </div>

             <div>
                 <span data-i18n-text="baseTokenAmount">TRX数量</span> <br/>
                 <input type="text" class="account_num" id="trxNum" name="trxNum" onblur="calPriceByTrx()"/>
             </div>

         </div>
         <p data-i18n-text="price">单价：<i id="priceByTrx" >0</i>/TRX</p>
         <p>
             <span class="start_time" data-i18n-text="beginningTime">起始时间:<input type="text" class="layui-input" id="startTimeFormat" name="startTimeFormat"/>

             </span>
             <span class="end_time" data-i18n-text="endingTime">结束时间: <input type="text" class="layui-input" id="endTimeFormat" name="endTimeFormat"/></span>
         </p>
         <p data-i18n-text="description">资产描述</p>
         <input type="text" id="description" name="description"/>
         <p data-i18n-text="descriptionUrl">资产描述URL</p>
         <input type="text" id="url" name="url"/>
         <input type="button" class="liner_granet create_account" id="creatAssetBtn" value="创建资产" data-i18n-value="createToken"/>
         </form>
     </div>

 </section>

<scetion id="addcount">
    <h4>参与资产发行</h4>
    <p><span data-i18n-text="currntBlock">资产名称</span><span id="assetName"></span></p>
    <p><span data-i18n-text="currntBlock">资产发行人</span><span id="ownAddress"></span></p>
    <p><span data-i18n-text="currntBlock">资产总供应量</span><span id="assetTotalSupply"></span></p>
    <p><span data-i18n-text="currntBlock">资产单价</span><span id="price"></span></p>
    <p><span data-i18n-text="currntBlock">起止时间</span><span id="lastTime"></span></p>
    <p><span data-i18n-text="currntBlock">描述信息</span>
        <span id="desc">

        </span></p>
    <p class="cou_hei"><span data-i18n-text="currntBlock">参与数量</span><span><input type="text" id="amount" name="amount" onblur="checkFunction()"/></span></p>
    <!--<p class="cou_hei"><span>参与数量</span><span><input type="text"> =10000TRX</span></p>-->
    <p class="cou_hei"><span data-i18n-text="currntBlock">输入密码</span><span><input type="text" id="myKey" name="myKey" /></span></p>
    <p class="check">
        <input type="checkbox" id="checkParticipate" />
        我已确认花费<i id="trxNumCheck" >0</i>TRX参与资产发行，获得<i id="assetInfoCheck">0</i>数量的资产
    </p>
    <input type="button" class="liner_granet sure_dele" id="participateBtn" onclick="submitParticipateAssetIssue()" value="确认交易">
</scetion>
<script type="text/javascript">
    $('.all_count').on('click',function () {
        $('.creat_account').css('display','none');
        $('.account_list').css('display','block');
        getAssetIssueListFun();
    })
    $('#creat_asset').on('click',function () {
        $('.account_list').css('display','none');
        $('.myaccount').css('display','block');
    })
    console.log($('.add_account'))

    laydate.render({
        elem: '#startTimeFormat',
        type: 'datetime',
        format: 'yyyy-MM-dd HH:mm:ss',
        min: '1900-01-01 00:00:00',
        max: '2099-12-31 23:59:59'
    })
    laydate.render({
        elem: '#endTimeFormat',
        type: 'datetime',
        format: 'yyyy-MM-dd HH:mm:ss',
        min: '1900-01-01 00:00:00',
        max: '2099-12-31 23:59:59'

    });

</script>
<script src="/js/lib/language.js" type="text/javascript"></script>