<section class="login-box">
    <div class="wel_login transform-coin" id="wel_login">
        <div class="transform-logo">
            <img src="/img/trans_tron_logo.png" alt="LOGO"/>
        </div>
        <h4 data-i18n-text="welBrowser"></h4>
        <div class="wel-line"></div>
        <select name="" id="language" class="wel-language">
            <option value="zh-CN">中文简体</option>
            <option value="en">English</option>
        </select>
        <p class="wel-btn">
            <button class="creat-account-btn fl" data-i18n-text="signUp">创建账户</button>
            <button class="wel-login-btn fr" data-i18n-text="logIn">登陆</button>
        </p>
        <div class="motal-mask">
            <div class="motal">
                <i id="motal-close">X</i>
                <form action="" class="motal-box">
                    <p data-i18n-text="logpwd" class="logpwd">请输入密码</p>
                    <input class="pwd" type="text" name="paswd" value="" id="repawd" placeholder=""
                           data-i18n-placeholder="inputPassword">
                    <p class="mona_warn" data-i18n-text="warning.login">请输入正确密码</p>
                    <div class="motal-btn clearfix">
                        <input type="button" class="login add fl" value="登陆" id="login" data-i18n-value="loglogIn">
                        <input type="button" class="no fr" value="取消" data-i18n-value="logCancel">
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="article_login" id="article_login">
        <div class="article-logo">
            <img src="/img/trans_tron_logo.png" alt="LOGO"/>
        </div>
        <p data-i18n-text="SignUpT" class="signUpT-title">创建帐户</p>
        <input type="button" class="submit" id="submit" data-i18n-value="creatAccAndPwd" value="生成账户地址和密码"/>
        <form action="" class="signUpT-box">
            <div class="signUpT-text">
                <p class="article-adress" data-i18n-text="accAddress">生成地址</p>
                <p class="pwd article-input" id="contents"></p>
                <input type="button" class="repeat liner_granet " value="复制" onClick="copyUrl2('contents')"
                       data-i18n-value="copy"/>
            </div>
            <div class="signUpT-text">
                <p class="cret_pwd" data-i18n-text="pwd">生成密码</p>
                <p class="pwd article-input" id="pwd"></p>
                <input type="button" class="repeat liner_granet" value="复制" onClick="copyUrl2('pwd')"
                       data-i18n-value="copy"/>
            </div>
            <div class="signUpT-text">
                <p class="cret_pwd" data-i18n-text="privatekey">生成私钥</p>
                <p class="pwd article-input" id="prikey_pwd"></p>
                <input type="button" class="repeat liner_granet" value="复制" onClick="copyUrl2('prikey_pwd')"
                       data-i18n-value="copy"/>
            </div>
            <ul class="warn_list">
                <li><input type="checkbox" class="warn-info1"> <span
                        data-i18n-text="noticeFir">我理解如果我丢失了密码，我将永远无法访问我的通证</span></li>
                <li><input type="checkbox" class="warn-info2"> <span data-i18n-text="noticeSec">我理解如果我忘记或丢失了密码，将没有任何人能够帮助我恢复</span>
                </li>
                <li><input type="checkbox" class="warn-info3"> <span
                        data-i18n-text="noticeThr">我已经写下了或者用其它方式保存了我的密码</span></li>
            </ul>
            <input type="button" class="submit liner_granet disable_btn" data-i18n-value="creatAccount" id="creatAccount" value="创建账户"/>

        </form>
    </div>
    <div class="login-prompt-box">
        <div class="login-prompt">
            <div class="prompt-text">
                <p data-i18n-text="prompttextUse">亲爱的用户，</p>
                <p data-i18n-text="prompttextline">本次上线的TRON区块链浏览器和钱包，为测试网络。</p>
                <p>
                    <span data-i18n-text="prompttextred">请不要从您的钱包或交易所，向测试网账户地址进行TRX转账。</span>
                    <i data-i18n-text="prompttexttesti"></i></p>
                <p data-i18n-text="prompttexttron">TRON 团队</p>
            </div>
            <input type="button" class="prompt-know"id="prompt-know" data-i18n-value="promptknow">
        </div>
    </div>
</section>

<script src="/js/utils/login.js"></script>
<script src="/js/lib/language.js" type="text/javascript"></script>
