
<div class="article_login wel_login" id="wel_login">
    <span class="welcome">
        <img src="/img/logo.png" alt=""/>
        <h5 data-i18n-text="welcomeTRON"></h5>
    </span>
    <!--<p class="wel_detail">-->
        <!--交易方式决定内容的分发、订阅、推送，赋能内容创造者，形成去中心化的内容娱乐生态。波场平台应用合作伙伴（陪我APP，Obike，GIFTO，Uplive）用户规模突破四千万，波场平台也是全球DAPP用户最多的智能合约区块链平台。-->
    <!--</p>-->
    <select name="" id="language">
        <option value="zh-CN">中文简体</option>
        <option value="en">English</option>
    </select>
    <p class="wel_creat">
        <button class=" liner_granet login_html" data-i18n-text="signUp">创建账户</button>
        <button class="wel_active" data-i18n-text="logIn">登陆</button>
    </p>
</div>


<div class="article_login" id="article_login">
    <span class="create">
        <img src="/img/logo.png" alt=""/>
        <p data-i18n-text="SignUpT">创建帐户</p>
         <input type="button" class="submit liner_granet" id="submit" data-i18n-value="creatAccAndPwd" value="生成账户地址和密码"/>
    </span>

    <form action="">
           <p class="adress" data-i18n-text="accAddress">生成地址</p>

           <p class="pwd" id="contents"></p>
        <input type="button" class="repeat liner_granet" value="复制" onClick="copyUrl2('contents')" data-i18n-value="copy"/>
        <p class="cret_pwd" data-i18n-text="pwd">生成密码</p>
        <p class="pwd" id="pwd"></p>

        <input type="button" class="repeat liner_granet" value="复制" onClick="copyUrl2('pwd')" data-i18n-value="copy"/>
        <!--<p class="pw_warn">请确认密码</p>-->
        <br>
        <ul class="warn_list">
            <li><input type="checkbox" class="warn-info1"> <span data-i18n-text="noticeFir">我理解如果我丢失了密码，我将永远无法访问我的资产</span></li>
            <li><input type="checkbox" class="warn-info2"> <span data-i18n-text="noticeSec">我理解如果我忘记或丢失了密码，将没有任何人能够帮助我恢复</span></li>
            <li><input type="checkbox" class="warn-info3"> <span data-i18n-text="noticeThr">我已经写下了或者用其它方式保存了我的密码</span></li>
        </ul>
        <input type="button" class="submit liner_granet disable_btn" id="creatAccount" value="创建账户"/>
    </form>
</div>

<!--<div class="sy">-->
    <!--<p>建议在纸张上抄记您的私钥</p>-->
    <!--<p id="sytext"></p>-->
    <!--<button class="liner_granet" id="sy_sure">确定</button>-->
<!--</div>-->

<div class="motal-mask">
    <div class="motal">
        <form action="">
            <p data-i18n-text="logpwd">请输入密码</p>
            <input class="pwd" type="text" name="paswd" value="" id="repawd">
            <p class="mona_warn">请输入正确密码</p>
            <input type="button" class="login add liner_granet" value="登陆" id="login" data-i18n-value="loglogIn">
            <input type="button" class="no" value="取消" data-i18n-value="logCancel">
        </form>
    </div>
</div>

<!--<div class="motal">-->
    <!--<span class="motal_close">x</span>-->
    <!--<form action="">-->
        <!--<p>账户名</p>-->
        <!--<input class="name" type="text" name="firstname" value="" id="rename">-->
        <!--<p class="mo_warn">请输入正确帐号</p>-->
        <!--<br>-->
        <!--<p> 密码</p>-->
        <!--<input class="pwd" type="text" name="paswd" value="" id="repawd">-->
        <!--<p class="mona_warn">请输入正确密码</p>-->
        <!--<br>-->
        <!--<p> 请输入私钥</p>-->
        <!--<input class="pwd" type="text" name="repaswd" value="" id="resy">-->
        <!--<p class="mopwd_warn">请输入私钥</p>-->
        <!--<br>-->
        <!--<input type="button" class="login add" value="创建账户" id="login">-->
        <!--<input type="button" class="no" value="取消">-->
    <!--</form>-->
<!--</div>-->
<script src="/js/utils/login.js"></script>

<script src="/js/lib/language.js" type="text/javascript"></script>
