<section class="mapWrap">
	<div class="map-main">
		<!--left 列表-->
		<div class="map_left">
			<p class="map_left_title"><span>0</span> NODES</p>
			<div class="map_left_nav">
				<div class="map_left_item map_bold map_nav_left">RANK</div>
				<div class="map_left_item map_nav_middle">Countries/Regions</div>
				<div class="map_left_item map_nav_right">Nodes</div>
			</div>
			<ul class="map_left_list">
				
			</ul>
		</div>
		
		<!--right 地图-->
		<div class="map_right">
			<section class="section section--main">
	            <div class="nodeinfo"></div>
	            <div class="nodemap--container">
	                <div id="nodemap"></div>
	            </div>
	        </section>
		</div>
	</div>
</section>
<script src="/js/lib/echarts.min.js"></script>
<script src="/js/lib/world.js"></script>
<script src="/js/utils/map.js" ></script>
<script src="/js/utils/nodemap.js" ></script>
