
<div class="m_left">
    <div class="ml_message">
        <p class="m_title">
            <img src="img/ml_message.png" alt="" class="ml_img">
            区块链信息
        </p>
        <p>2222，435，432 TRX</p>
        <p class="ml_font">当前流通量</p>
        <ul class="ml_detail">
            <li>
                <p>1212,142,234</p>
                <p class="ml_font">当前区块</p>
            </li>
            <li>
                <p>4秒钟前</p>
                <p class="ml_font">上个区块</p>
            </li>
            <li>
                <p>12</p>
                <p class="ml_font">活跃见证人数</p>
            </li>
            <li>
                <p>121</p>
                <p class="ml_font">缺失区块数</p>
            </li>
            <li>
                <p>19</p>
                <p class="ml_font">每秒交易数</p>
            </li>
            <li>
                <p>1212,142,234</p>
                <p class="ml_font">每个区块交易数</p>
            </li>
            <li>
                <p>1212,142,234</p>
                <p class="ml_font">交易平均时间</p>
            </li>

        </ul>
    </div>
    <div class="ml_vote">
        <p class="m_title">
            <img src="img/ml_vote.png" alt="" class="ml_img">
            近期交易
        </p>
        <p class="transfer">
            <button >转账</button>
            <span class="tran_name">tron</span>
            <span>将2000 TRX转帐给</span>
            <span class="tran_name">tron</span>
            <span>10秒钟前</span>
        </p>
        <p class="transfer">
            <button >转账</button>
            <span class="tran_name">tron</span>
            <span>将2000 TRX转帐给</span>
            <span class="tran_name">tron</span>
            <span>10秒钟前</span>
        </p>
        <p class="transfer">
            <button >转账</button>
            <span class="tran_name">tron</span>
            <span>将2000 TRX转帐给</span>
            <span class="tran_name">tron</span>
            <span>10秒钟前</span>
        </p>

    </div>
</div>
<div class="m_right">
    <p class="m_title">
        <img src="img/ml_last.png" alt="" class="ml_img">
        最近区块
    </p>
    <p class="serch_msg">查看全部信息块</p>
    <div  class="mr_margin">
        <div class="mr_left">
            <p>区块  # 25,217</p>
            <p>2分钟前</p>
        </div>
        <div class="mr_right">
            <p>见证人  tron1</p>
            <p>
                <span>交易数：17</span>
                <span>大小：2456</span>
            </p>
        </div>
    </div>
    <div class="mr_margin">
        <div class="mr_left">
            <p>区块  # 25,217</p>
            <p>2分钟前</p>
        </div>
        <div class="mr_right">
            <p>见证人  tron1</p>
            <p>
                <span>交易数：17</span>
                <span>大小：2456</span>
            </p>
        </div>
    </div>
    <div  class="mr_margin">
        <div class="mr_left">
            <p>区块  # 25,217</p>
            <p>2分钟前</p>
        </div>
        <div class="mr_right">
            <p>见证人  tron1</p>
            <p>
                <span>交易数：17</span>
                <span>大小：2456</span>
            </p>
        </div>
    </div>
    <div  class="mr_margin">
        <div class="mr_left">
            <p>区块  # 25,217</p>
            <p>2分钟前</p>
        </div>
        <div class="mr_right">
            <p>见证人  tron1</p>
            <p>
                <span>交易数：17</span>
                <span>大小：2456</span>
            </p>
        </div>
    </div>
</div>
<script src="js/jquery-1.9.1.min.js"></script>
