<html>

<head>
  <title>E-Sign Demo with Elliptic</title>
  <script src="/js/cryptohash/lib/core.js"></script>
  <script src="/js/cryptohash/lib/x64-core.js"></script>
  <script src="/js/cryptohash/lib/sha3.js"></script>
  <script src="/js/cryptohash/lib/code.js"></script>
  <script src="/js/cryptohash/lib/elliptic.min.js"></script>
  <script src="/js/cryptohash/crypto.js"></script>
  <script src="/js/lib/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="/js/protolib/protobuf.js" type="text/javascript"></script>
  <script src="/js/tronjs/tron-protoc.js" type="text/javascript"></script>


</head>
<script>
function testAddress() {
  var priKey = genPriKey();

  var pubkey = getPubKeyFromPriKey(priKey);

  var address = computeAddress(pubkey);

  var priKeyHex = byteArray2hexStr(priKey);
  var pubKeyHex = byteArray2hexStr(pubkey);
  var addressHex = byteArray2hexStr(address);


  var requestData = {'priKeyHex':priKeyHex,'pubKeyHex':pubKeyHex, 'addressHex':addressHex}

  $.ajax({
    type: "post",
    url: "http://127.0.0.1:8088/"+"testAddress",
    data: requestData,
    success: function (msg) {
      if( !msg ){
        alert(msg);
      }else {
        console.info("success !!!");
      }
    },
    error: function (msg) {
      alert(msg);
    }
  });
}

function testListNode() {
  $.ajax({
    type: "get",
    url: "http://127.0.0.1:8088/"+"nodeList",
    data: "",
    success: function (msg) {
      var bytesNodeList = base64DecodeFromString(msg);

      //调用方法deserializeBinary解析
      var nodelist = proto.protocol.NodeList.deserializeBinary(bytesNodeList);

      var nodes = nodelist.getNodesList();
      if(nodes.length >0){
        for (var  i = 0; i<nodes.length; i++){
          var node = nodes[i];
          console.info("IP::::" + node.getAddress().getHost());
          console.info("Port::::" + node.getAddress().getPort());
        }
      }
    },
    error: function (msg) {
      alert(msg);
    }
  });
}
  function doTest() {
    for (var i =0; i< 10000;i++){
      testAddress();
      console.info("test   " + i + "  times");
    }

  }
</script>

<body>
<h1>This a Elliptic Demo page</h1>
<input name="signkey"/>
<button onclick="testListNode()">Go</button>
<div id="content"></div>
</body>

</html>