<div class="article_login new_color new_top" id="transform_box">
    <span class="t_logo">
        <img src="/img/logo.png" alt=""/>
        <p>使用TRON账户转账</p>
        <p>可以将资产转让给其他TRON账户持有者</p>
    </span>

  <form action="" class="tran_form">
    <p>请输入密码</p>
    <input class="name" type="text" name="firstname" value="" id="com_adress"/>
    <p class="com_warn">请输入密码</p>
    <p>发往</p>
    <input class="pwd" type="text" name="paswd" value="" id="go_cont" placeholder="请输入接方账户地址"/>
    <p class="go_warn">请输入帐号</p>
      <div class="select">
          <p> 数量</p>
          <input type="text" name="repaswd" class="remark" id="num"/>
      </div>
    <div class="select" id="coinSelect_box">
        <p>选择资产名称</p>
        <select id="coinSelect">

        </select>
    </div>

    <!--<p>备注消息</p>-->
    <!--<input type="text" class="remark"/>-->
    <p class="tran_money">
      <input type="button" value="转账" class="liner_granet" id="change"/>
      <!--<input type="button" value="取消" class=""/>-->
    </p>

  </form>
</div>
<script src="/js/utils/transferCoin.js"></script>


