
<div class="w_form">
        <p>
            <span class="ticket">当前超级代表</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <p>
            <span class="ticket">活跃超级代表</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <i></i>
        <p>
            <span class="ticket">参与率</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <p>
            <span class="ticket">每块奖励</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <i></i>
        <p>
            <span class="ticket">剩余预算</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <p>
            <span class="ticket">下次投票更新</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <p class="cheek">
            筛选
            <input type="text" name="lname" />
        </p>
        <button class="ka">卡片式图</button>
</div>
<div class="w_table">
    <table class="table">
        <thead>
        <tr>
            <th data-i18n-text="rank"></th>
            <th data-i18n-text="address"></th>
            <!--<th>上次生成块</th>-->
            <!--<th>总出块数</th>-->
            <!--<th>缺失区块数</th>-->
            <th data-i18n-text="votes"></th>
        </tr>
        </thead>
        <tbody class="witnessDate" id="witnessDate">

        </tbody>
    </table>
</div>

<script src="/js/utils/witness.js"></script>
<script src="/js/lib/language.js" type="text/javascript"></script>