
<div class="w_form">
        <p>
            <span class="ticket">当前见证人</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <p>
            <span class="ticket">活跃见证人</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <i></i>
        <p>
            <span class="ticket">参与率</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <p>
            <span class="ticket">每块奖励</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <i></i>
        <p>
            <span class="ticket">剩余预算</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <p>
            <span class="ticket">下次投票更新</span>
            <span class="ticket_detail">239487trx</span>
        </p>
        <p class="cheek">
            筛选
            <input type="text" name="lname" />
        </p>
        <button class="ka">卡片式图</button>
</div>
<div class="w_table">
    <table class="table">
        <thead>
        <tr>
            <th>排名</th>
            <th>账户名称</th>
            <th>上一个区块</th>
            <th>上次生成块</th>
            <th>缺失块数</th>
            <th>得票</th>
        </tr>
        </thead>
        <tbody>
        <tr class="b_acitve">
            <td> <span class="num">1</span></td>
            <td>$100</td>
            <td>1</td>
            <td>$100</td>
            <td class="deletion">January</td>
            <td>$100</td>
        </tr>
        <tr>
            <td ><span class="num">1</span></td>
            <td>$100</td>
            <td>1</td>
            <td>$100</td>
            <td  class="deletion">January</td>
            <td>$100</td>
        </tr>
        <tr class="">
            <td ><span class="num">1</span></td>
            <td>$100</td>
            <td>1</td>
            <td>$100</td>
            <td class="deletion">January</td>
            <td>$100</td>
        </tr>
        <tr>
            <td ><span class="num">1</span></td>
            <td>$100</td>
            <td>1</td>
            <td>$100</td>
            <td  class="deletion">January</td>
            <td>$100</td>
        </tr>
        </tbody>

    </table>
</div>
